extends layout

block layout-content
  div#content
    h1 Gallery Page 
    div#image-container 
      img(src="/images/bakery-donuts-cup-cakes.jfif", alt="many donuts and cupcakes")
      img(src="/images/bakery-main.jpg", alt="cookies, buscuits")
      img(src="/images/cake.jpg", alt="red velvet and rainbow cake pastry")
      img(src="/images/cupcakes.jpg", alt="9 cupcakes")
    div#image-container
      img(src="/images/3.png", alt="bake sale")
      img(src="/images/sweets.jpg", alt="many sweets")
      img(src="/images/street-view.jpg", alt="store street view")
      img(src="/images/Bakery-fav.jpg", alt="many bakery items with bakery fav caption inside")
    div#image-container
      img(src="/images/1.jpg", alt="various bakery items with price")
      img(src="/images/2.jpg", alt="store inside view with workers")
      img(src="/images/5.jpg", alt="front street view")
      img(src="/images/bakery-shop-cartoon-vector.jpg", alt="cartoon bakery shop")