extends layout

block layout-content
  div#content
    h1 Home Page 
    div#flex-container
      img(src="/images/bakery-shop-cartoon-vector.jpg", width="200px", height="200px", alt="cartoon bakery shop")
      div.flex-right
        p My Bakery Shop is known for our tasty baked goods, sweets, and cakes. We offer our clients a full scope of bread, forte bread, morning merchandise, cakes, and baked goods.
        p Our bread is heated day by day at our pastry shop in East Horsley and is conveyed to our twelve shops. We utilize profoundly gifted specialty dough punchers to guarantee each portion of bread is flawless without fail.
        p Our vision for the My Bakery Shop and love of communities preparation happened to be something that numerous inside Ontario, from over the Ontario and all-around came to share. Today the My Bakery Shop has turned into an exceedingly celebrated and famous brand.
    section#container1
      h3 Covid 19 Updates
      p We are eager to continue providing food to the communities we have served and love for years. We are currently not open our dine in service. In light of our current situation, we want to help you stay home as much as possible, so we have adapted and offer DELIVERY!!  
    div#list-container Products that are available in our store:   
      ul 
        li Breads 
        li Cake 
        li Pastries 
        li Muffins 
        li Toast 
        li Cookies 
        li Bagels 
        li Donuts
    h2 Store Hours: 
    div#hours-container
      p Monday to Friday: 10.00 am to 06.00 pm
      p Saturday and Sunday: 11.00 am to 5.00 pm 
    h2 Location: 
    div#location-container 
      p My Bakery Shop 
      p 100 Main Street, West 
      p Hamilton, Ontario 
      p L5C 4P3
      
    
      